<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}{% endblock title %}
	</title>
	<style type="text/css">
		#menu{
			margin: 0;
			padding: 0;
			list-style: none;
			text-transform: uppercase;
		}
		#menu li {
			display: inline;
			margin: 0 20px;
		}
	</style>
</head>
<body>
	{% include "superior/barra.html" %}
	<h1 style="background-color: green; text-align: center; color: white;">Titulo de la p&aacute;gina web</h1>

	<h3>Cursos de programaci&oacute;n</h3>

	{% block content %}{% endblock content %}

	<p style="background-color: green; text-align: center; color: white;">Cursos gratuitos. Gracias por su visita</p>
</body>
</html>