<!DOCTYPE html>
<html>
<head>
	<title>Saludo</title>
	<style type="text/css">
		h1{
			text-align: center;
			color: red;
		}
		#menu{
			margin: 0;
			padding: 0;
			list-style: none;
			text-transform: uppercase;
		}
		#menu li {
			display: inline;
			margin: 0 20px;
		}
	</style>
</head>
<body>

	{% include "superior/barra.html" %}

	<h1>Primera p&aacute;gina con Django</h1> {# las llamdas a metodos desde una plantilla de Django no usan parentesis #}

{% comment %}
	comentario de varias lineas
{% endcomment %}

	{% if nombre_persona == "Profesor Antonio" %}
		<p>El curso lo imparte el profesor titular</p>
	{% else %}
		<p>El curso lo imparte el profesor suplente</p>
	{% endif %}
	<p>El nombre de la persona es: {{nombre_persona.title}} {{apellido_persona}}</p>
	<h2>El d&iacute;a de hoy: {{momento_actual}}</h2>
	<p><strong>Temas del curso:</strong></p>
	<ul>
		{% for item in temas %}
			<li>{{item|upper}}</li>
		{% empty %}
			<p>No hay temas</p>
		{% endfor %}
	</ul>
</body>
</html>